<div class="container">
    <h2>Button Panel</h2>
    <div class= "panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-lg btn-primary" (click)="getButtonPress()">Get</button>
            <button type="submit" class="btn btn-lg btn-primary">Post</button>
            <button type="submit" class="btn btn-lg btn-primary">Put</button>
            <button type="submit" class="btn btn-lg btn-primary">Delete</button>
            <p>{{content.name}}</p>
        </div>
    </div>
</div>

