<!DOCTYPE html>
<html>
<body>

  <nav class="navbar navbar-dark">
    <a class="navbar-brand" [routerLink]='["/button"]'>Button</a>
    <a class="navbar-brand" [routerLink]='["/create"]'>Create</a>
    <a class="navbar-brand" [routerLink]='["/search"]'>Search</a>
    <a class="navbar-brand" [routerLink]='["/formpractice"]'>Example Of Test Form</a>
    <a class="navbar-brand" [routerLink]='["/nest"]'>Nest Comp</a>
    <a class="navbar-brand" [routerLink]='["/radio"]'>Radio</a>
    <a class="navbar-brand" [routerLink]='["/table"]'>Table</a>
    <a class="navbar-brand" [routerLink]='["/review"]'>Review</a>
  </nav>

  <router-outlet></router-outlet>

</body>
</html> 
   