<div class="container">

    <div *ngIf="errorMessage==null">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Create Pokemon Here</h2>
                <form [formGroup]="createForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="name" [(ngModel)]="createdName">
                        <p *ngIf="createForm.controls.name.errors" style="color:red">Field Required</p>
                    </div>
                    <div class="form-group">
                        <label>Rank</label>
                        <input type="number" class="form-control" formControlName="rank" [(ngModel)]="createdRank">
                        <p *ngIf="createForm.controls.rank.errors" style="color:red">Required Field</p>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" class="form-control" formControlName="type" [(ngModel)]="createdType">
                        <p *ngIf="createForm.controls.type.errors" style="color:red">Field Required</p>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="createPokemon()">Submit</button>
                </form>
                <h2 *ngIf="createdPokemon!=null">The pokemmon {{createdPokemon.name}} with a Star Ranking of {{createdPokemon.starRank}} is of type {{createdPokemon.type}}</h2>
            </div>
        </div>
    </div>

    <div *ngIf="errorMessage!=null">
        <p>{{errorMessage}}</p>
    </div>

</div>
